header{
    background-image: url("Hero-bg.png");
    height: 10px;
    with: 100px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    height: 50px;
    margin: auto;
}
nav button{
    color: white;
    background-color: blue;
    border: none;
    border-radius: 5px;
}
div{
    font-size: 20px;
}
main{
    background-image: url('Hero-bg.png');
   text-align: center;
   padding: 20px;
}
main button{
    color: white;
    background-color: blue;
    border: none;
    border-radius: 5px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px o 200px;
}
.btn-primary{
    color: white;
    background-color: blue;
    border-radius: 5px;
    border: none;
}
.banner-content{
    padding: 20px 0 20px 100px;
}
.banner-picture{
    border-radius: 50px;
    align-items: center;
    padding: auto; 
    width: 300px;
    height: 250px;
    margin-right: 100px;
}