header{
    background-image: url("Hero-bg.png");
    height: 10px;
    with: 100px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    height: 50px;
    margin: auto;
}
nav button{
    color: white;
    background-color: blue;
    border-color: blue;
    border-radius: 5px;
}
div{
    font-size: 20px;
}
main{
    background-image: url('Hero-bg.png');
   text-align: center;
   padding: 20px;
}
main button{
    color: white;
    background-color: blue;
    border-color: blue;
    border-radius: 5px;
}